<?xml version="1.0"?>
<configuration>
 <configSections>
	<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WLManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <connectionStrings>
    <add name="connStr_b" connectionString="Data Source=172.26.9.240;Initial Catalog=wlserver;Persist Security Info=True;User ID=net;Password=net2008"/>
    <add name="connStr_c" connectionString="Data Source=172.26.9.210;Initial Catalog=wlserver;Persist Security Info=True;User ID=net;Password=net2008"/>
  </connectionStrings>
  <appSettings>
    <add key="UnifiedDataSource" value="False"/>
  </appSettings>
 <userSettings>
  <WLManager.Properties.Settings>
   <setting name="SoftwareVersion" serializeAs="String">
    <value>2013</value>
   </setting>
   <setting name="TechnicalSupport" serializeAs="String">
    <value>0431-86769937</value>
   </setting>
   <setting name="PingEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PingTimeout" serializeAs="String">
    <value>2000</value>
   </setting>
   <setting name="ConfirmClose" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoLogin" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Userid" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="AutoSyncServerDT" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PageWidth" serializeAs="String">
    <value>756</value>
   </setting>
   <setting name="PageHeight" serializeAs="String">
    <value>415</value>
   </setting>
   <setting name="PageOffsetX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PageOffsetY" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="SoftwareName" serializeAs="String">
    <value>公路客运联网小件系统-营运平台</value>
   </setting>
  </WLManager.Properties.Settings>
 </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICentral" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.26.9.210/WLCentralService/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentral"
          contract="WLCentralServiceReference.ICentral" name="BasicHttpBinding_ICentral" />
    </client>
  </system.serviceModel>
</configuration>
