<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WLCheckout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="connStr_b" connectionString="Data Source=192.168.11.210;Initial Catalog=wlserver;Persist Security Info=True;User ID=net;Password=net2008"/>
  </connectionStrings>
    <userSettings>
        <WLCheckout.Properties.Settings>
            <setting name="SoftwareName" serializeAs="String">
                <value>公路客运联网小件系统-结账平台</value>
            </setting>
            <setting name="SoftwareVersion" serializeAs="String">
                <value>2013</value>
            </setting>
            <setting name="TechnicalSupport" serializeAs="String">
                <value>0431-86769937</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Userid" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSyncServerDT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfirmClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PingTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CollectByCustomerSortMode" serializeAs="String">
                <value>Total</value>
            </setting>
        </WLCheckout.Properties.Settings>
    </userSettings>
</configuration>