<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WLCollect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connStr_b" connectionString="Data Source=172.26.9.210;Initial Catalog=wlserver;Persist Security Info=True;User ID=net;Password=net2008"/>
  </connectionStrings>
  <userSettings>
    <WLCollect.Properties.Settings>
      <setting name="TechnicalSupport" serializeAs="String">
        <value>0431-86769937</value>
      </setting>
      <setting name="PingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PingTimeout" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="ConfirmClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Userid" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SoftwareName" serializeAs="String">
        <value>公路客运联网小件系统-汇总平台</value>
      </setting>
      <setting name="SoftwareVersion" serializeAs="String">
        <value>2014-9</value>
      </setting>
      <setting name="CollectFD" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImportDailySheet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebServiceAddress" serializeAs="String">
        <value>http://localhost:32209/</value>
      </setting>
    </WLCollect.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WLBServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DailySheetServiceSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.11.210/WLService/WLBService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WLBServiceSoap" contract="WLBServiceReference.WLBServiceSoap"
        name="WLBServiceSoap" />
      <endpoint address="http://192.168.11.210/WLService/DailySheetService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DailySheetServiceSoap"
        contract="DailySheetServiceReference.DailySheetServiceSoap"
        name="DailySheetServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>